In [1]:
import pandas as pd
import numpy  as np

In [2]:
df = pd.read_csv(r'anime.csv')

In [3]:
df.head()

   Rank                                              Title  Score
0     1  Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...   9.10
1     2  Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...   9.07
2     3  Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...   9.06
3     4  Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...   9.06
4     5  Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...   9.05

In [4]:
df.loc[1]['Title']

'Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473,707 members'

## 1. adding new column for no of episode

In [5]:
def extract_episode(txt) :
    check = False
    ep =''
    for i in txt :
        if i == ')' :
            check = False
            break
        if i == '(' :
            check = True
            continue
        if check  :
            ep+=i
    return ep

In [6]:
extract_episode(df.loc[1]['Title'])

'24 eps'

In [7]:
df['Episodes'] = df['Title'].apply(extract_episode).str.replace('eps', ' ').astype(int)

In [8]:
df.head()

   Rank                                              Title  Score  Episodes
0     1  Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...   9.10        64
1     2  Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...   9.07        24
2     3  Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...   9.06        13
3     4  Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...   9.06        51
4     5  Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...   9.05        10

In [9]:
df.dtypes

Rank          int64
Title        object
Score       float64
Episodes      int64
dtype: object

## 2. Make a new column for timestamps

In [10]:
df.iloc[2]['Title']

'Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 - Dec 2022474,138 members'

In [11]:
def extract_timestamp(txt) :
    for idx,j in enumerate(txt) :
        if j == ')' :
            return txt[idx+1:idx+20]

In [13]:
df['TimeStamps'] = df['Title'].apply(extract_timestamp)

In [15]:
df.head()

,Rank,Title,Score,Episodes,TimeStamps
0,1,Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...,9.10,64,Apr 2009 - Jul 2010
1,2,"Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...",9.07,24,Apr 2011 - Sep 2011
2,3,Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...,9.06,13,Oct 2022 - Dec 2022
3,4,"Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...",9.06,51,Apr 2015 - Mar 2016
4,5,Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...,9.05,10,Apr 2019 - Jul 2019

In [22]:
def get_total_months(range_str):
    start, end = range_str.split(' - ')
    start = pd.to_datetime(start, format='%b %Y')
    end = pd.to_datetime(end, format='%b %Y')
    return (end.year - start.year) * 12 + (end.month - start.month)

df['TotalMonths'] = df['TimeStamps'].apply(get_total_months)
df.head()

,Rank,Title,Score,Episodes,TimeStamps,TotalMonths
0,1,Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...,9.10,64,Apr 2009 - Jul 2010,15
1,2,"Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...",9.07,24,Apr 2011 - Sep 2011,5
2,3,Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...,9.06,13,Oct 2022 - Dec 2022,2
3,4,"Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...",9.06,51,Apr 2015 - Mar 2016,11
4,5,Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...,9.05,10,Apr 2019 - Jul 2019,3

## 3. Anime has highest score ?

In [25]:
df['Score'].max()

np.float64(9.1)

In [38]:
df[df['Score'] == df['Score'].max()]['Title']# option 1

0    Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...
Name: Title, dtype: object

In [33]:
df.loc[df['Score'].idxmax(), 'Title'] #option 2

'Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr 2009 - Jul 20103,218,472 membersManga StoreVolume 1€4.58Preview'

## 4. Top 5 rank Anime

In [41]:
df['Title'].head()

0    Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...
1    Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...
2    Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...
3    Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...
4    Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...
Name: Title, dtype: object

## 5. Which Anime Has Highest Episode Count

In [52]:
df[df['Episodes'].max()== df['Episodes']]['Title']

15    GintamaTV (201 eps)Apr 2006 - Mar 20101,034,41...
Name: Title, dtype: object

## 6. Top 5 Highest Episode Count

In [56]:
df['TotalMonths'].nlargest(5)

11    110
15     47
7      35
32     18
24     17
Name: TotalMonths, dtype: int64

In [59]:

df.nlargest(5, 'TotalMonths')['Title']

11    Ginga Eiyuu DensetsuOVA (110 eps)Jan 1988 - Ma...
15    GintamaTV (201 eps)Apr 2006 - Mar 20101,034,41...
7     Hunter x Hunter TV (148 eps)Oct 2011 - Sep 201...
32    Kingdom 3rd SeasonTV (26 eps)Apr 2020 - Oct 20...
24    MonsterTV (74 eps)Apr 2004 - Sep 20051,041,081...
Name: Title, dtype: object